<div class="ui info message transition">
    <i class="close icon"></i>
    <div class="header">
      <div class="ui grid">
        <div class="one wide column">
          <%= image_tag 'listen.png', size: '25x25', class: 'ui image' %>
        </div>
        <div class="twelve wide column">
          Hey listen!!
        </div>
      </div>
    </div>
    <p>
      <%= locals[:notice] %>
      <%= link_to "aquí", locals[:link] if locals[:link]%>
    </p>
</div>