<div class="ui three sequenced cards">
  <div class="red card">
    <div class="header">Total de galerías</div>
    <div class="content">
      <i class="huge icons">
        <i class="grey archive icon"></i>
        <i class="corner icon"><%= @user.total_of_galleries %></i>
      </i>
    </div>
  </div>
  <div class="blue card">
    <div class="header">Total de fotografías</div>
    <div class="content">
      <i class="huge icons">
        <i class="grey photo icon"></i>
        <i class="corner icon"><%= @user.total_of_photos %></i>
      </i>
    </div>
  </div>
  <div class="green card">
    <div class="header">Fotografías vendidas</div>
    <div class="content">
      <i class="huge icons">
        <i class="grey money icon"></i>
        <i class="corner icon">0</i>
      </i>
    </div>
  </div>
</div>