<% title 'Mis cosas' %>

<div class="row">
    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
                  
        </div>
        <div class="four wide column"></div>
    </div>
</div>