<% title 'Mis cosas' %>

<div class="row">
  <div class="ui grid">
    <div class="two wide column"></div>
    <div class="four wide column">
      <%= render 'profile' %>
    </div>
    <div class="eight wide column">
      <% case @user.user_type %>
      <% when 'photographer' %>
          <%= render 'photographer' %>
      <% when 'client' %>
          <%= render 'client' %>
      <% when 'admin' %>
          <% render 'admin' %>
      <% end %>
    </div>
    <div class="two wide column"></div>
  </div>
</div>