<% title 'Registrarme' %>

<div class="ui equal width center aligned padded grid">
  <div class="row">
    <div class="four wide column">
      <h2 class="ui dividing header center aligned"><label>Abre una cuenta</label></h2>
      <%= render 'user_form' %>
      <div class="field">
        <div id="message"></div>
      </div>
    </div>
  </div>
</div>