<% title "Generar nueva galería" %>

<div class="ui grid">
    <div class="row">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <div class="ui two top attached steps">
                <div class="active step">
                    <i class="info circle icon"></i>
                    <div class="content">
                        <div class="title">Registra</div>
                        <div class="description">Nombre y descripción de la galería</div>            
                    </div>
                </div>
                <div class="step">
                <i class="camera retro icon"></i>
                    <div class="content">
                        <div class="title">Agrega</div>
                        <div class="description">Agrega fotografías a tu galería</div>            
                    </div>
                </div>
            </div>  
            <div class="field">
                <%= render "form" %>
            </div>   
        </div>
        <div class="four wide column"></div>                
    </div>
</div>