<% title "Generar nueva galería" %>

<div class="ui steps">
    <div class="step">
        <i class="info icon"></i>
        <div class="content">
            <div class="title">Información de la galería</div>
            <div class="description">Nombre y descripción de la galería</div>            
        </div>
    </div>
    <div class="step">
        <i class="camera retro icon"></i>
        <div class="content">
            <div class="title">Agrega fotografías</div>
            <div class="description">Agrega fotografías a tu galería</div>            
        </div>
    </div>
</div>