<% title 'La p치gina m치s hipster para fot칩grafos' %>

<div id="index" class="ui grid test">
    <div class="row">
        <div class="sixteen wide column">
           <%= image_tag 'nature', class: "ui centered image front-image" %>
           <h1 class="white">El lugar m치s hipster para guardar tus fotos</h1>
        </div>
    </div>
</div>
<div id="whoami" class="ui grid test">
    <div class="row">
        <div class="fourteen wide column">
            Something
        </div>
    </div>
</div>
<div id="connect" class="ui grid test">
    <div class="row">
        <div class="fourteen wide column">
            Something
        </div>
    </div>
</div>
