<% @photos.each do |photo| %>
    <div class="card">
      <div class="content">
      </div>
      <div class="image">
        <%= link_to photo_processed_url_path(photo.id), remote: true do %>
            <%= image_tag photo.image_processed.url(:original), class: 'ui medium bordered image ' %>
        <% end %>
      </div>
      <div class="content">
        <div class="right floated">
          <div id="likes">
            <% if photo.likes.include?(@user.id.to_s) %>
                <%= link_to unlike_photo_path(photo.id), remote: true, method: :patch do %>
                    <i class="red like icon"></i>
                <% end %>
            <% else %>
                <%= link_to like_photo_path(photo.id), remote: true, method: :patch do %>
                    <i class="blue like icon"></i>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div id="image-modal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">Información</div>
  <div class="image content">
    <div id="image-content" class="image"></div>
    <div id="image-description" class="description">
      <label>Nombre</label><div id="image-description-name"></div>
    </div>
    <div id="image-price">
      <label>Bs.250</label>
    </div>
  </div>
  <input type="button" class="green ui fluid button" value="COMPRAR ESTA FOTOGRAFIA" onclick="alert('No implementado, paypal es engorroso de implementar')">
</div>